body {
    background-color: #e5e5e5;
}
.header_container{
    top: 0px;
    background-color: #6d9fea;
}
.header{
    background-color: #3461a4;
    color: #fff
}
.house_card{
    background-color: #E5EDF2;
    font-size: 12px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.house_icon{
    width: 50px;
}
.table-container{
    /*margin-top: 20px;*/
    margin: 20px auto;
 background-color: #E5EDF2;
}
.alunos{
    margin-left: 5px;
    font-size: 16px;
}
.students_table{
    display: flex;
    flex-direction: column;
}
.students_table-head tr{
    display: flex;
    justify-content: space-between;
    font-size: 14px;
}
.students_table-row{
    margin-bottom: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #5777a8;
}
td{
    display: inline-block;
}
@media (min-width: 769px){
    .house_icon{
        width: 150px;
    }
    .house_card{
        margin-top: -20px;
        font-size: 18px;
    }
    .SectionHouses{
        width: 90%;
        margin: 0 auto;
    }
    .table-container{
        width: 90%;
    }
    .student-name{
        width: 50%;
    }
    .TableIcon{
        /*width: 25%;*/
    }
}




